$container-width: 860px;
$card-margin: 20px;
$card-width: calc((#{$container-width} - 4 * #{$card-margin}) / 3);

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  cursor: pointer;
  color: #000000a1;
}

input {
  background: transparent;
  color: #000000a1;
  font-size: 24px;
  border-radius: 40px;
  outline: none;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.city-search {
  &__suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
  }
}

.container {
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  padding: $card-margin;
  box-sizing: border-box;
}

.cities {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 260px;
    border-radius: 16px;
    color: aliceblue;
    background-color: #000000d9;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 20px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    
    &__name {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0.959);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    &__weather-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      // img {
      //   width: 50px;
      //   height: 50px;
      // }
    }

    &__remove-button {
      align-self: flex-end;
      margin-top: auto; 
      border: none;
      border-radius: 10px;
      background-color: brown;
      cursor: pointer;
      font-weight: bold;
      color: rgb(255 255 255 / 47%);
      transition: color 0.2s ease-in-out;
      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }

  &__name-temp {
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .cities {
    &__item {
      width: 220px;
    }
  }
}

@media (max-width: 425px) {
  .cities {
    padding-top: 40px;
    justify-content: center;
    &__item {
      width: 364px;
      margin-right: 0;
      transition: transform 0.3s ease-out;
      &:not(:last-child) {
        margin-right: 0;
      }
      &.swiped-left {
        transform: translateX(-100%);
      }
    }
    &__item__weather-data {
      align-items: baseline;
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
    }
    &__suggestions-list {
      padding-top: 40px;
      
    }
    &__name-temp {
      align-items: flex-start;
    }
    &__swipe {
      width: 24px;
      height: auto;
      opacity: 0.7;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  input {
    position: fixed;
    background: black;
    color: aliceblue;
    width: 90%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; 
  }
  .suggestions {
    padding-top: 40px;
    text-align: center;
  }
  .container {
    padding: 6px;
  }
}

@media (max-width: 375px) {
  .cities {
    width: 290px;
  }
}

